<% provide :title, t(".title") %>
<h1 style="padding-top:10px"> <%= t ".title" %> </h1>

<%= paginate @foods , theme: "twitter-bootstrap-3" %>

<ul class="users">
  <%= render @foods %>
</ul>

<%= paginate @foods , theme: "twitter-bootstrap-3" %>