<% provide :title, t(".title") %>
<h1 style="padding-top:10px"> <%= t ".title" %> </h1>

<ul style="display:flex; flex-wrap: wrap; justify-content:space-between">
  <%= render @foods %>
</ul>

<%= paginate @foods , theme: "twitter-bootstrap-3" %>